*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLE */
.my-page{
    height: 100vh;
    width: 1500px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}

/* BAR STYLE */
.nav-bar {
    display: block;
    font-size: 28px;
    font-weight: 550;
    margin: 1% 2%;
    height: 30px;

}

/* NAVIGATION STYLE */
.my-name {
    position: relative;
    float: left;
    text-decoration: none;
    color: black;
}

.nav-bar ul {
    float: right;
}

.nav-bar li {
    display: inline-block;
    margin-left: 20px;
}

.nav-bar ul li a{
    color: black;
    text-decoration: none;
    border-bottom: 2px dotted transparent;
}

.nav-bar ul li a:hover{
    transition: border-bottom 0.3s;
    border-bottom: 3px solid black;
}

/* CONTAINER*/
.container {
    position: relative;
    display: block;
    height: 90vh;
    background-color: rgb(204,115,170,0.3);
    border: 2px solid rgb(204,115,170,0.1);
    border-radius: 15px;
}

.header-text img {
    position: absolute;
    right: 8%;
    top: 11%;
    border-radius: 50%;
}

.header-text h1 {
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 50px;
    text-shadow: 4px 4px 10px grey;
}

.header-text p {
    position: absolute;
    top: 65%;
    left: 15%;
    font-size: 27px;
    font-style: italic;
}

/* ABOUT ME */
.about-me h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

.about-me p {
    width: 1200px;
    margin: 2% auto;
    text-align: center;
    font-size: 20px;
    
}

/* PROJECTS */
.projects h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

.projects p {
    width: 1200px;
    margin: 2% auto;
    text-align: center;
    font-size: 20px;
    
}

/* FOOTER */
.footer-text::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px solid #8C0F77;
    margin-bottom: 2%;
}
.footer-text {
   font-size: 15px;
}



/* stop floating */
.clearfix {zoom: 1}
.clearfix:after {
    content:".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}